@media screen and (max-device-width: 800px) {
  .create-project {
    width: 60rem !important;
    margin-left: 0 !important;
  }

  .text-create {
    font-size: 2rem !important;
  }

  .value-div {
    width: 40rem !important;
  }

  .create-description {
    height: 40rem !important;
    align-items: center !important;
    font-size: 40rem !important;
  }
}

#newProj {
  opacity: 1;
}

button:disabled {
  opacity: 0.3;
}

.create-project {
  margin: 10%;
  min-height: 100%;
  width: 60vw;

  margin-left: 5rem;
}

.input {
  background-color: rgba(0, 0, 0, 0.4);

  margin: 10% 0%;
  padding: 5%;
  border-radius: 15px;

  width: auto;
  align-items: center;
}

.label {
  background-color: transparent !important;
  margin: 1% 0;
  padding: 0 !important;
  width: auto !important;
}

input[type='text'],
input[type='date'],
textarea {
  background-color: transparent !important;
  border: none !important;
}

input[type='text']:focus,
input[type='date']:focus {
  border: none !important;
  box-shadow: none !important;
}

.btn-select1 {
  margin: 5% auto;
  width: 100%;
  padding-top: 5%;

  text-align: center;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  background: #092565;
  background: radial-gradient(circle, #092565 0%, #6e05f5 100%);
  animation-duration: 2s;
  background-size: 400% 400%;
  animation: Gradient 5s ease infinite;
  transition: transform 0.5s;
  transform: translateX(0);

  font-size: 1rem;
}

.btn:hover {
  transform: translateX(1px) scale(1.05);
  color: #fff;
}

.btn-edit {
  margin: 3% auto;
  width: 60% !important;

  justify-content: right;
  align-items: flex-start !important;

  padding: 2%;
}

h2 {
  margin-top: 3%;
  margin-bottom: 3%;
}


.skills {
  justify-content: left;
  align-items: center;

  margin: 1% 0%;
  text-align: left;
}

.level-options {
  display: flex;
  flex-wrap: nowrap !important;

  align-items: center;
  text-align: left;
}

.level-options>* {
  margin: 1%;
}

.level-options p {
  margin: 5%;
}

.skills h2 {
  width: 10px !important;
  margin: 1% !important;
}

.feed,
.row.evaluation {
  width: 60vw;
}

.form-control {
  width: 10rem;

  overflow: hidden;
  text-overflow: ellipsis;

  color: rgba(255, 255, 255, 0.562);
}

textarea .desc {
  width: 100% !important;

  resize: none;
  overflow-y: auto;
}

.description {
  height: 20rem;
}

.row.evaluation {
  background-color: rgba(0, 0, 0, 0.4);
  margin: 0.2% 0%;
  border-radius: 25px;
  padding: 3%;

  justify-content: left;
  align-items: center !important;
  text-align: left;
}