@media screen and (max-device-width: 800px) {}

#see {
  opacity: 0.4!important;
}

#see:hover {
  opacity: 1!important;
}

#projects {
  opacity: 0.8!important;
}

#projects {
  opacity: 0.8 !important;
}

.perfil {
  max-width: 80vw;
  width: 80vw;
  height: auto;
}

#feedperfil {
  max-width: 80vw;
  position: inherit;
  display: flex;
}

#profile_banner {
  width: 80vw;
  margin: 0;
  padding: 0;
}

#profile_banner .banner {
  position: relative;
  width: 80vw;
  height: 25vh;

  margin: 0;

  object-fit: cover;
  background-size: 1120px 200px;
  background-repeat: no-repeat;

  background-position: center;
}
#profile {
  position: inherit;
  margin-left: 5vw;
  margin-top: -5vh;
  display: inline-flex;
  text-align: left;
}
#containerperfil {
  align-items: baseline;
  margin-top: 7vh;
  margin-left: 2vw;
  height: auto;
}

hr {
  margin: 4% 12.5%;
  width: 50vw;
  height: 0.3%;
  border-radius: 25px;
  background-color: #fff;
  opacity: 0.3;
}

#align > .btn {
  color: #fff;
  font-weight: bold;
  border: none;

  margin: -2% 0 0 10%;
  width: auto;
  height: 100%;
  font-size: 1rem;

  border-radius: 10px;
  background: #092565;
  background: radial-gradient(circle, #0142bb 0%, #6f01ff 100%);
  animation-duration: 2s;
  background-size: 400% 400%;
  animation: Gradient 5s ease infinite;
  opacity: 0.5;

  transition: 0.5s;
}

#align .btn:hover {
  opacity: 1;
  color: #fff;
}

.profile_pic {
  width: 10rem;
  height: 10rem;
}

.profile_pic img {
  border-radius: 100%;
  width: 10rem;
  height: 10rem;
  position: absolute;

  object-fit: cover;
}
#align {
  display: flex;
}

.row.evaluation {
  background-color: rgba(0, 0, 0, 0.4);
  margin: 0.2% 2%;
  border-radius: 25px;
  width: 70vw;
  padding: 3%;
}

.feed {
  width: 70vw;
}

.info {
  margin: 0.2% 5%;
  border-radius: 25px;
  padding: 3%;
}

.description {
  width: 70vw;
}

.description h2 {
  margin-bottom: 2%!important;
}

.input {
  background-color: rgba(0, 0, 0, 0.4);

  margin: 10% 0%;
  padding: 5%;
  border-radius: 15px;

  width: 20rem;
}

.description {
  background-color: rgba(0, 0, 0, 0.4);

  margin: 0.2% 3%;
  border-radius: 25px;
  padding: 3%;
}

.info h2,
.description h2 {
  margin-bottom: 10%;
}

.row {
  align-items: center;
}

.btn-level {
  color: #fff;
  border: none;
  width: 3rem;
  height: 3rem;

  padding: 1% 5%;
  border-radius: 20px;
  background-size: 400% 400%;
  font-weight: 600;
  font-size: 1rem;
}

.selected {
  opacity: 1;
  scale: 1 !important;
  margin: 0.1rem !important;
}

.level-options {
  display: flex;
  align-items: center;

  justify-content: right;
}

.feed {
  max-width: 77vw;
  max-height: 100vh;
}

.form-control {
  margin-left: 0% !important;
  border: none;
  width: 20rem;
  padding: 2%;

  background-color: transparent !important;
}

.label {
  background-color: transparent !important;
  margin: 1% 0 !important;
  padding: 0 !important;
  width: auto !important;
}

.btn-group {
  display: flex;
  flex-wrap: nowrap;

  margin: 1% 0;
  max-width: 10rem !important;
  right: 10%;
}

.btn-group .btn-see {
  color: #fff;
  font-weight: bold;
  border: none;
  width: 100%;
  padding: 5%;

  border-radius: 10px;
  background: #092565;
  background: radial-gradient(circle, #0142bb 0%, #6f01ff 100%);
  animation-duration: 2s;
  background-size: 400% 400%;
  animation: Gradient 5s ease infinite;
  margin-bottom: 5%;
  opacity: 0.4;

  transition: 0.5s;

  padding: 0 !important;
  height: 3rem;
}

.btn-group .btn-see:hover {
  opacity: 1;
  color: #fff;
}

.confirm {
  display: flex;
  flex-wrap: nowrap;
  
  width: 50rem;

  justify-content: flex-end;
}

.btn-group {
  position: absolute;
}

.btn-yes {
  margin: 0 2%;
  padding: 0 !important;
  background: #2ca736 !important;
  background: linear-gradient(#147508 0%, #64bd1b 100%) !important;
  animation-duration: 2s;
  background-size: 400% 400%;
  animation: Gradient 5s ease infinite;
}

.btn-no {
  margin: 0 2%;
  padding: 0 !important;
  background: linear-gradient(#750808 0%, #d30707 100%) !important;
  animation-duration: 2s;
  background-size: 400% 400%;
  animation: Gradient 5s ease infinite;
}

.toComp{
  opacity: 0.5;
  position: relative;
  right: 15%;
  transition: .3s;
}

.toComp:hover{
  scale: 1.005;
  opacity: 1;
}

