.perfil {
  max-width: 80vw;
  width: 80vw;

  min-height: 100vh;
  height: 100%;

  padding: 5% 12%;
}

.search {
  align-items: center;
  margin: 0 10%;
}

.search h2 {
  font-weight: 700;
  font-size: 1.85rem;
  margin-right: 1%;
}
