.perfil {
  max-width: 75vw;
  width: 75vw;

  min-height: 100vh;
  height: 100%;

  padding: 5% 12%;
}

.search {
  align-items: center;
  margin: 0 10%;
}

.search h2 {
  font-weight: 700;
  font-size: 1.85rem;
  margin-right: 1%;
  text-align: left;
}

.search b {
  font-weight: 300;
  text-transform: uppercase;
}

hr {
  margin: 5% auto !important;
}

.show-skills {
  margin: 3% auto;
}

.general-info > * {
  width: auto;
  text-align: left;
}

.general-info > .input {
  padding: 2% !important;
  justify-content: center;
  align-items: center;
}

.col.input {
  margin: 0 1% ;
}

.input {
  align-items: center;
  flex-wrap: nowrap;

  width: auto !important;
}

.input.file {
  padding: 3%;
}

.btn.col-3 {
  width: 2.3rem !important;

  right: 0;
}

.form-control {
  width: 10rem;

  overflow: hidden;
  text-overflow: ellipsis;

  color: rgba(255, 255, 255, 0.562);
}

.form-control:focus {
  color: rgba(255, 255, 255, 1);
}

.info > .input > .col.label {
  max-width: 4rem !important;
  text-align: left;
}

.description,
.info {
  text-align: left;
}

.description{
  margin-right: 10%;
}

.info {
  margin: 0;
}

.btn-select1 {
  margin: 5% auto;
  width: 100%;
  padding-top: 5%;

  text-align: center;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  background: #092565;
  background: radial-gradient(circle, #092565 0%, #6e05f5 100%);
  animation-duration: 2s;
  background-size: 400% 400%;
  animation: Gradient 5s ease infinite;
  transition: transform 0.5s;
  transform: translateX(0);

  font-size: 1rem;
}

.btn:hover {
  transform: translateX(1px) scale(1.05);
  color: #fff;
}

.btn-edit {
  margin: 3% auto;
  width: 60% !important;

  justify-content: right;
  align-items: flex-start !important;

  padding: 2%;
}

#image,
#image2 {
  margin: 2% 0;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.desc {
  width: 100% !important;

  height: 70%;
  resize: none;
  overflow-y: auto;
}

.area {
  width: 60vw;
}

#check > * {
  width: 15rem;
  margin: 1%;
}

@media screen and (max-device-width: 800px) {
  .perfil {
    padding: 0 !important;
  }
  .high {
    display: inline !important;
  }

  .form-check-label {
    text-align: left;
    width: 20rem;
    font-size: 2.5rem;
    margin-bottom: 3% !important;
  }

  .area {
    width: 110vw !important;
    margin-left: -5%!important ;
  }

  .col-4 {
    width: 45vw !important;
    height: 5vh;
    text-align: center;
    align-items: flex-start !important;
  }

  .form-check-input {
    margin-right: 2% !important;
    width: 3rem;
    height: 3rem;
    border-radius: 10px !important;
  }

  .general-info {
    padding: 0 5% !important;
  }

  .search {
    margin-top: 5% !important;
  }

  .btn-edit1 {
    position: absolute;
    margin: 25% -65% !important;
    width: 60% !important;
    height: 1% !important;
    font-size: 25px;

    justify-content: right;
    align-items: center !important;
  
    padding-top: auto !important;
    padding: 1rem !important;
  }

  .input1 {
    padding: none !important;
    width: 55rem !important;
    margin-left: -15% !important;
    align-items: center !important;
    padding-top: 5 !important;
    padding: 2% !important;
  }
  .form-control {
    margin-left: 5% !important ;
  }

  .description {
    width: 150rem !important;
  }

  .feed {
    margin: none !important;
  }

  .hr1{
    margin-top: 10rem !important;
  }
}
