.form input[type="text"],
.form input[type="email"],
.form input[type="password"] {
  padding: 3%;
  margin: 1.5%;
  border-radius: 15px;
}

.form {
  display: block;
  width: 100% !important;
}

.text {
  max-width: 50vw;
}

.submit {
  padding: 3% 15%;
}

p {
  font-size: 1.1rem;
}

.btn-eye {
  color: #000;
  font-weight: bold;
  scale: 0.75;
  margin-top: -1% !important;
  border-radius: 1rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background: #fff !important;

  width: 3rem !important;
}

.btn-eye:hover {
  transform: translateX(0px) scale(1);
}

#icon {
  color: #000;
}

.radio p,
.radio {
  font-weight: 700;
  font-size: 1.25rem;
}

.form-check {
  margin: 0 3%;
}

.radio {
  margin: 3%;
  flex-wrap: nowrap!important;
}

@media (max-width: 800px) {
  .text {
    max-width: 70vw;
  }

  #campo1 {
    width: 100%;
    margin: 10% 0;
    padding: 0;
  }

  #campo1 h1 {
    font-size: 2rem;
  }

  .form {
    display: inline;
    margin: 5% 0;
  }

  .form input[type="text"],
  .form input[type="email"],
  .form input[type="password"] {
    padding: 4%;
    margin: 1.5%;
    border-radius: 15px;
  }

  .radio {
    margin:1% 0;
    width: 50%;
    
    position: relative;
    margin-left: auto;
    margin-right: auto;

    scale: .8;

    margin: 0;
    text-align: center;
    justify-content: left;

  }

  .row .radio {
    flex: auto!important;
  }

  .radio p, .radio label {
    font-size: 1.1rem;
  }

  .btn-eye {
    font-weight: bold;
    scale: 0.8;
    margin-top: 1% !important;
    border-radius: 1rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background: #fff !important;

    width: 3rem !important;
  }

  .col {
    width: 100%;
    margin: 5% 0;

    flex: none;
  }
}
#check {
  text-align: start;
}
#form {
  display: inline-flex;
}
