* {
    color: #fff;
}

.form {
    width: 30vw !important;
}

#campo1 h1 {
    font-size: 3rem;
}


input,
.input-group {
    margin: 0% 0 !important;
}

input {
    margin: 2% 0 !important;
}

.form button {
    margin: 3% 0;
    width: 100%;
}


.forget {
    display: block;
    text-align: left;
    justify-content: flex-start;
    align-items: flex-start;
    font-weight: 700;
}

@media (max-width: 800px) {

    .form {
        width: 100vw;
        ;
    }
}