@media screen and (max-device-width: 800px) {
  #see {
    scale: 1.1;
    transform: translateY(-2rem);
    box-shadow: 0px 0px 30px rgba(196, 150, 235, 0.8);
  }

  .perfil,
  .perfil > div {
    max-width: 100vw !important;
    width: 100vw !important;
  }

  #profile_banner {
    width: 100vw !important;
  }

  #profile_banner .banner {
    width: 100vw !important;
  }

  #profile {
    margin-top: -3vh !important;
  }

  .profile_pic {
    width: 15rem !important;
    height: 15rem !important;
  }

  .profile_pic img {
    width: 15rem !important;
    height: 15rem !important;
  }

  #containerperfil {
    margin-top: 4vh !important;
    margin-left: 5vw !important;
  }

  #align {
    top: 0;
    width: 100vw;
  }

  #align h4 {
    font-size: 3rem !important;
  }

  #align a {
    font-size: 1.5rem !important;
    padding: 1% 5%;
    margin: 0 5% !important;
  }

  #containerperfil p {
    font-size: 2rem !important;
  }

  .row.evaluation,
  .row.evaluation h2 {
    width: auto !important;
    font-size: 2.3rem !important;
  }

  .level-options label {
    display: table;
    margin: 1% !important;
  }

  .btn-level {
    width: 3.5rem !important;
    height: 3.5rem !important;
    font-size: 1.7rem !important;

    display: table-cell;
    vertical-align: middle;
  }

  .feed h2 {
    font-size: 4rem !important;
    text-align: center;
  }

  .feed {
    margin: 5% 0;
    justify-content: center;
    align-items: center;
  }

  .feed .col {
    margin: 5% 0;
    flex: none;
  }

  .feed .description,
  .feed .info {
    width: 55rem;
    padding: 0;
  }

  .input {
    margin: 10% 0 !important;
    font-size: 2.8rem;
    font-weight: 500;
    width: 100% !important;

    border-radius: 50px!important;

    justify-content: center!important;
    align-items: center!important;
  }

  .input > * {
    justify-content: center!important;
    align-items: center!important;
    height: 4rem;
  }

  .label {
    margin: auto 3% !important;
  }

  .form-control {
    font-size: 2.5rem;
    width: 60%!important;
    padding: 0;
  }

  hr{
    width: 70vw!important;
    margin: 10% 12.5%!important;
  }

  .description {
    top: 0;
    padding: 5%!important;
  }

  .description p{
    font-size: 2rem;
  }
}

#see {
  opacity: 0.8 !important;
}

.perfil {
  max-width: 80vw;
  width: 80vw;
  height: auto;
}

#feedperfil {
  max-width: 80vw;
  position: inherit;
  display: flex;
}

#profile_banner {
  width: 80vw;
  margin: 0;
  padding: 0;
}

#profile_banner .banner {
  position: relative;
  width: 80vw;
  height: 25vh;

  margin: 0;

  object-fit: cover;
  background-size: 1120px 200px;
  background-repeat: no-repeat;

  background-position: center;
}
#profile {
  position: inherit;
  margin-left: 5vw;
  margin-top: -5vh;
  display: inline-flex;
  text-align: left;
}

#containerperfil {
  align-items: baseline;
  margin-top: 7vh;
  margin-left: 2vw;
  height: auto;
}

hr {
  margin: 4% 12.5%;
  width: 50vw;
  height: 0.3%;
  border-radius: 25px;
  background-color: #fff;
  opacity: 0.3;
}

#align .btn {
  color: #fff;
  font-weight: bold;
  border: none;

  margin: -2% 0 0 10%;
  width: auto;
  height: 100%;
  font-size: 1rem;

  border-radius: 10px;
  background: #092565;
  background: radial-gradient(circle, #0142bb 0%, #6f01ff 100%);
  animation-duration: 2s;
  background-size: 400% 400%;
  animation: Gradient 5s ease infinite;
  opacity: 0.5;

  transition: 0.5s;
}

#align .btn:hover {
  opacity: 1;
  color: #fff;
}

.profile_pic {
  width: 10rem;
  height: 10rem;
}

.profile_pic img {
  border-radius: 100%;
  width: 10rem;
  height: 10rem;
  position: absolute;

  object-fit: cover;
}
#align {
  display: flex;
}

.skills {
  justify-content: center;
  align-items: center;

  margin: 3% 5%;
}

.row.evaluation {
  background-color: rgba(0, 0, 0, 0.4);
  margin: 0.2% 2%;
  border-radius: 25px;
  width: 63vw;
  padding: 3%;
  
}

.show-skills {
  margin: 2% auto;
}

.feed {
  width: 70vw;
}

.info {
  margin: 0.2% 5%;
  border-radius: 25px;
  padding: 3%;
  
}

.description {
  width: 50rem;
}

.input {
  background-color: rgba(0, 0, 0, 0.4);

  margin: 10% 0%;
  padding: 5%;
  border-radius: 15px;

  width: auto;
  
}

.description {
  background-color: rgba(0, 0, 0, 0.4);

  margin: 0.2% 3%;
  border-radius: 25px;
  padding: 3%;
}

.info h2,
.description h2 {
  margin-bottom: 10%;
}

.row {
  margin: 5% 0;
}

.btn-level {
  color: #fff;
  border: none;
  width: 3rem;
  height: 3rem;

  padding: 1% 5%;
  border-radius: 20px;
  background-size: 400% 400%;
  font-weight: 600;
  font-size: 1rem;
}

.selected {
  opacity: 1;
  scale: 1 !important;
  margin: 0.1rem !important;
}

.level-options {
  display: flex;
  align-items: center;

  justify-content: right;
}

.feed {
  max-width: 77vw;
  max-height: 100vh;
}

.form-control {
  margin-left: 0% !important;
  border: none;
  width: 20rem;
  padding: 2%;

  background-color: transparent !important;
}

.label {
  background-color: transparent !important;
  margin: 1% 0;
  padding: 0 !important;
  width: auto !important;
}
