*{
    color: #fff;
}
#sidebar{
    width: 35vh;
    height: 100vh;
    background-color:black;
    display: flex;
    text-align: end;
}
#sidebar img{
    border-radius: 100%;
    width: 75px;
    height: 75px;
    display: block;
}
.container{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.container h4{
    margin-left: 10px;
}
.container p{
    font-size: 15px;
}
#info{
    text-align: center;
}
.btn{
    color: #fff;
    font-weight: bold;
    border: none;
    width: 18vw;
    height: auto;
    border-radius: 10px;
    background: #092565;
    background: radial-gradient(circle,#0142bb 0%, #6f01ff 100%);
    animation-duration: 2s;
    background-size: 400% 400%;
    animation: Gradient 5s ease infinite;
    margin: 5px;
}
.btn:hover {
    transform: translateX(1px) scale(1.05);
    color: #fff;
  }
  
  @keyframes Gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

#footerSidebar{
    text-align: start;
    margin: 10px;
}
#footerSidebar p{
    font-size: 9px;
    margin: 5px;
    text-align: start;
}

#footerSidebar button{
    color: #fff;
    font-weight: bold;
    border: none;
    width: 18vw;
    height: 45px;
    border-radius: 15px;
    background: #bb9901;
    background: radial-gradient(circle, #ff01c8 0%, #eb7201 50%, #e9be00 100%);
    animation-duration: 2s;
    background-size: 400% 400%;
    animation: Gradient 5s ease infinite;
    margin: 5px;
}

button:hover {
    transform: translateX(1px) scale(1.05);
    color: #fff;
  }
#fundop{
    background-color: #f39741;
    width: 100vw;
    height: 20vh;
}
#FotoPerfil{
    width: 80px;
    height: 80px;
}
#FotoPerfil img{ 
    border-radius: 100%;
    width: 80px;
    height: 80px;
}